@import 'bulma/css/bulma.css';
@import 'katex/dist/katex.min.css';
// @import 'gatsby-remark-mathjax-ssr/mathjax.css';

// https://github.com/jgthms/bulma/issues/1708
.prism-code .tag,
.prism-code .number {
  display: inline;
  padding: inherit;
  font-size: inherit;
  line-height: inherit;
  text-align: inherit;
  vertical-align: inherit;
  border-radius: inherit;
  font-weight: inherit;
  white-space: inherit;
  background: inherit;
  margin: inherit;
}

.content {
  word-break: break-word;
}

@media(min-width: 1024px) {
  .is-w300-desktop {
    width: 300px !important;
  }
  .is-rest-w300-desktop {
    width: calc(100% - 300px) !important;
    padding-right: 3rem;
  }
}
